/***********************************************************************************************************************
													GLOBAL STYLES
 ***********************************************************************************************************************/
*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch !important;

}

@font-face {
    font-family: "Circular Std Medium";
    src: url("./assets/fonts/CircularStd-Medium.woff");
}
@font-face {
    font-family: "Circular Std Black";
    src: url("./assets/fonts/CircularStd-Black.woff");
}

p, span, div {
	font-family: "Muli", san-serif;
}

small, h1, h2, h3, h4, h5, h6, p, span, button, a {
    font-family: 'Circular Std Black', sans-serif;
}

.numbers {
    font-family: "Roboto", sans-serif !important;
}


html {
    background: #000;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #57585c;
    color: var(--color-text);
    background-color: #fff;
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}




.demo-3 {
    --color-default: #000;
    ---color-accent: #3CF1B7;
    --color-text: #fff;
    --color-bg: #fff;
    --color-link: #4d4f5f;
    --color-link-hover: #bfb5b5;
    --color-info: #333;
    --color-main-bg: #fff;
    --path-fill-1: #000;
    --path-fill-2: #1d1d1f;
    --path-fill-3: #FFF236;
    --color-title: #031B4E;
    --font-family-title: 'Raleway', san-serif;
    --font-size-title: 5vmax;
    --font-weight-title: 600;
    --color-menu: #000;
    --color-menu-hover: #fff;
    font-family: 'Circular Std Black', 'Muli', sans-serif;
    --font-size-menu: 4vmax;
    --font-weight-menu: 900;
    --button-bg: #FFF236;
    --button-circle: #FFF236;
    --button-line: #000;
}


/* Fade effect */
.js body {
    opacity: 0;
    transition: opacity 0.3s;
}

.js body.render {
    opacity: 1;
}

.section {
    width: 100%;
}

.padded {
    box-sizing: border-box;
    /*height: 100vh;*/
    /*width: 100%;*/
}

.container-fluid {
    padding: 0 !important;
}

.flex {
    flex: 1;
}

/**
			BUTTONS
 */
.btn {
    padding: 17px 34px;
    border-radius: 116px;
    font-weight: 700;
    font-family: 'Muli', "sans-serif";
    font-size: 18px;
    letter-spacing: 1px;
}

.btn-primary {
    background: var(--button-bg);
    border: none;
    color: var(--color-title);
}

.btn-default {
    background: var(--color-default);
    color: var(--color-text);
}

.btn-default.btn-outline {
    background: var(--color-text);
    color: var(--color-default);
    border: 2px solid var(--color-default);
}

.btn-default.btn-outline:hover {
    background: var(--color-default);
    color: var(--color-text);
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}


/**
			TEXT
 */
.text-primary {
    color: #333;
}

.text-black {
    color: #333;
}

.separator {
    content: '';
    width: 7vw;
    height: 4px;
    border-radius: 1px;
    background-color: #007bff;
}

.rounded {
    border-radius: 8px !important;
}

a {
    text-decoration: none;
    color: #5d93d8;
    color: var(--color-link);
    outline: none;
}


a:hover,
a:focus {
    color: #423c2b;
    color: var(--color-link-hover);
    outline: none;
}

.text-black {
    color: #333;
}


.container-padded {
    width: 100vw;
    height: 100vh;
    padding: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


/***********************************************************************************************************************
													WAVE STYLES
 ***********************************************************************************************************************/

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-main-bg);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.content--fixed {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    min-height: 0;
    /*height: 100vh;*/
    padding: 1.5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 4em;
    grid-template-areas: 'header ...' '... ...' 'github demos';
}

.content--fixed a {
    pointer-events: auto;
}

/* Header */
.codrops-header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
    grid-area: header;
    justify-self: start;
}

.codrops-header__title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.75em 0;
}

.info {
    margin: 0 0 0 1.25em;
    font-style: italic;
    color: var(--color-info);
    font-weight: bold;
}

.demo-title {
    color: var(--color-title);
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}

.demo-title .highlight {
    color: var(--button-bg);
}

/***********************************************************************************************************************
													GLOBAL MENU STYLES
 ***********************************************************************************************************************/

.global-menu {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
}


.global-menu__item {
    color: var(--color-menu);
    width: fit-content;
    font-family: 'Circular Std Black', sans-serif;
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    display: block;
    margin: 0.25em 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
    position: relative;
}

.global-menu__item--demo-3 {
    transition: transform 0.1s, opacity 0.1s;
    transform: translateY(-100%);
    transition-timing-function: ease-out;
}

.global-menu__item:hover {
    color: var(--color-menu-hover);
}


.global-menu__item.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
}

.global-menu__item:nth-of-type(1) {
    transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
    transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
    transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
    transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
    transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
    transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
    transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
    transition-delay: 0.7s;
}

/* demo 3 */
.global-menu__item--demo-3.is-opened {
    transition-duration: 0.3s;
}

.global-menu__item--demo-3:nth-of-type(1) {
    transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
    transition-delay: 0.65s;
}

.global-menu__item--demo-3:nth-of-type(2) {
    transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
    transition-delay: 0.7s;
}

.global-menu__item--demo-3:nth-of-type(3) {
    transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
    transition-delay: 0.75s;
}

.global-menu__item--demo-3:nth-of-type(4) {
    transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
    transition-delay: 0.8s;
}
.menu-link:hover {
    text-decoration: none;
    color: #000;
}

.menu-link.active::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -2.5%;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 35%;
    width: 105%;
    background: var(---color-accent);
    -webkit-background-size: 0% 100%;
    -moz-background-size: 0% 100%;
    background-size: 0% 100%;
    opacity: 1;
    will-change: transform, opacity;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}

.shape-overlays.is-opened {
    pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
    fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
    fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
    fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
    fill: var(--path-fill-4);
}

.menu-vector {
    width: 30vw;
    position: fixed;
    bottom: 1vw;
    right: 0;
    opacity: 0;
    transform: translateY(-20%);
    display: block;
    transition: transform 0.6s, opacity 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}


.menu-vector.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
    transition-delay: 0.66s;
}

.frank {
    width: 25vw;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    opacity: 0;
    transform: translateY(-20%);
    display: block;
    transition: transform 0.6s, opacity 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}


.frank.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
    transition-delay: 0.55s;
}

.social-icons-wrapper {
    position: fixed;
    left: 6vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transform: translateY(-20%);
    transition: transform 0.6s, opacity 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
.social-icons-wrapper.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
    transition-delay: 0.55s;
}
.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons i {
    margin-bottom: 30px;
    color: #000;
    font-size: 18px;
}
.vertical-line {
    width: 2px;
    height: 10vh;
    background: #000;
    margin-bottom: 30px;
}
.social-caption {
    font-family: 'Circular Std Medium'!important;
    font-weight: 600;
    font-size: 16px;

    color: var(--color-title);
}
.bold {
    font-size: 18px;
    font-weight: 600;
}
/***********************************************************************************************************************
													HAMBURGER STYLES
 ***********************************************************************************************************************/

@-webkit-keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

@keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

.font-weight-regular {
    font-weight: 500;
}

.hide {
    display: none;
}

.brand-logo {
    width: 4vw;
    height: 4vw;
    display: block;
    position: fixed;
    cursor: pointer;
    top: 6vh;
    left: 5vw;
    z-index: 110;
}

.hamburger {
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    cursor: pointer;
    top: 2.25em;
    right: 2.25em;
    z-index: 110;
    border-radius: 50%;
    background-color: var(--button-bg);
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger::after {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 4px solid var(--button-circle);
    border-radius: 50%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: intervalHamburgerBorder;
    animation-name: intervalHamburgerBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.hamburger__line {
    width: 28px;
    height: 2px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.hamburger__line-in {
    width: 84px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger__line-in::before,
.hamburger__line-in::after {
    width: 28px;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: var(--button-line);
}

.hamburger__line-in::before {
    left: -56px;
}

.hamburger__line-in::after {
    left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
    left: 18px;
}

.hamburger__line--01 {
    top: 24.6px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
    top: 31px;
}

.hamburger__line--03 {
    top: 37.4px;
}

.hamburger__line--cross01 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger__line--cross02 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger__line {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
    -webkit-transform: translateX(-33.3%);
    transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.hamburger__line-in--02 {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hamburger__line-in--03 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
    -webkit-transition-delay: 0.0s;
    transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transform: translateX(33.3%);
    transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


@media screen and (min-width: 55em) {
    .icon--keyboard {
        position: absolute;
        right: 0.55em;
        bottom: -30%;
        display: block;
        width: 54px;
        height: 46px;
        fill: var(--color-link);
    }

    .demos {
        display: flex;
        padding-right: 80px;
        justify-self: end;
    }

    .demo {
        display: block;
        width: 17px;
        height: 17px;
        margin: 0 4px;
        border-radius: 50%;
        background: var(--color-link);
    }

    a.demo--current {
        background: var(--color-link-hover);
    }

    .demo span {
        position: absolute;
        line-height: 1;
        right: 100%;
        display: none;
        margin: 0 1em 0 0;
    }

    .demo--current span {
        display: block;
    }
}

@media screen and (max-width: 55em) {
    html,
    body {
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
    }

    .hamburger {
        position: fixed;
        top: 0.5em;
        right: 0.5em;
        transform: scale(0.75);
    }

    .content {
        height: auto;
        min-height: 0;
        padding-bottom: 10em;
        flex-direction: column;
    }

    .content--fixed {
        position: fixed;
        z-index: 0;
        display: block;
        padding: 0.85em;
    }

    .codrops-header {
        flex-direction: column;
        align-items: center;
    }

    .codrops-header__title {
        font-weight: bold;
        padding-bottom: 0.25em;
        text-align: center;
    }
}


/***********************************************************************************************************************
													HOME SECTION STYLES
 ***********************************************************************************************************************/

#home {
    min-height: 100vh;
    /*margin: 10vh 0;*/
    display: flex;
}

.home-container {
    width: 100vw;

    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.summary-container {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.summary-container .heading {
    margin-bottom: 3vh;
    font-weight: 900;
    line-height: 7vmax;
}

.home-container .summary {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.home-container .skills {
    color: var(--color-title);
    font-family: "Raleway", sans-serif;
    /*font-weight: 600;*/
    font-size: 1.8rem;
}

.home-container .logo {
    width: 7vw;
}

.vector-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.home-vector {
    width: 75%;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}


/***********************************************************************************************************************
													HOME SECTION STYLES
 ***********************************************************************************************************************/
#about {
    /*background-image:  url("../assets/images/bg-doodle.jpg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.profile-container {
    margin: 0 0;
}

.profile-picture {
    /*box-shadow: ;*/
}

.profile-vector {
    width: 30%;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

